html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.menu{
  display:flex;
}

.menu__item{
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  background-color: lightgray;
}

.menu__item--first{
  margin-left: 3rem;
}