.content {
  background-color: #a1c181;
  border: 0.4rem dotted #233d4d;
}

.content__title {
  background-color: #fcca46;
  margin: 1rem;
  padding: 0.8rem;
  border: 0.4rem solid var(--polished-pine);
}

.inline {
  background-color: #fe7f2d;
  margin: 0.8rem;
  padding: 1rem;
  border: 0.8rem solid #233d4d;
}