html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --charcoal: #233d4dff;
  --pumpkin: #fe7f2dff;
  --sunglow: #fcca46ff;
  --olivine: #a1c181ff;
  --polished-pine: #619b8aff;
}

body {
  height: 100%;
  display: grid;
  place-items: center;
}

.box {
  background-color: var(--pumpkin);
  width: 20rem;
  height: 20rem;
  /* 1. old way */
  /* transition: transform 0.6s ease-out; */

  /* 2. modern way */
  transition: all 0.6s ease-out;
  transition-property: scale, rotate;
}

.box:hover {
  /* 1. old way */
  /* transform: scale(2, 2) rotate(45deg); */

  /* 2. modern way */
  scale: 2;
  rotate: 45deg;
}