html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  display: grid;
  grid-template: 15rem 10rem 1fr 2fr / repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: 30rem;
  background-color: #233D4D;
}

.child {
  background-color: #A1C181;
  color: #233D4D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}