*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.container {
  margin: 0 auto;
  /* don't do this: 
  width: 60rem; */
  /* do this instead: */
  max-width: 60rem;
}

.header {
  padding: 1.5rem;
  background-color: silver;
}

.main {
  padding: 1.5rem;
  background-color: gainsboro;
}

.footer {
  padding: 1.5rem;
  background-color: whitesmoke;
}
