html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --charcoal: #233d4dff;
  --pumpkin: #fe7f2dff;
  --sunglow: #fcca46ff;
  --olivine: #a1c181ff;
  --polished-pine: #619b8a;
}

.boxes {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
}

.box {
  animation-name: move;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.box-explanation {
  justify-self: end;
}

.one {
  background: var(--charcoal);
  animation-timing-function: linear;
}

.two {
  background: var(--polished-pine);
  animation-timing-function: ease;
}

.three {
  background: var(--olivine);
  animation-timing-function: ease-in;
}

.four {
  background: var(--sunglow);
  animation-timing-function: ease-out;
}

.five {
  background: var(--pumpkin);
  /* bounce */
  animation-timing-function: ease-in-out;
}

.six {
  background: var(--charcoal);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.seven {
  background: var(--polished-pine);
  animation-timing-function: steps(3, end);
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(200px, 0);
  }
}


.box {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem
}