:root {
  /* variables here */
  --black: #1e170d;
  --antique-white: #f1ebcf;

  --space-1: 1rem;
  --space-15: 1.5rem;
  --space-3: 3rem;
}

/* Set the box-sizing property for all elements */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Basic default styling  */

body {
  /* Set default font family and line height */
  font-family: sans-serif;
  line-height: 1.5;
  /* change the default font size if it's not the standard 16px */
  font-size: 1.125rem;
  /* Set the default text color */
  color: var(--black);
  /* Set the default background color for the whole page */
  background-color: var(--antique-white);
}

/* fluid images */

img {
  max-width: 100%;
  height: auto;
  /* Optional: make them block to avoid extra space */
  display: block;
}

/* Default typography styling, add more styling like font-family here */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* a basic h2 looks like this */

h2 {
  font-size: 2rem;
}

/* default link */

a {
  color: var(--black);
}

/* Container class to center all elements that are inside of it in the middle of the screen */

.container {
  /* Make this value as big as you want */
  max-width: 64rem;
  /* Center the container */
  margin: 0 auto;
}

/* visually hidden class */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* specific components */

/* header styles */

.example-header {
  padding: var(--space-15);
  background-color: var(--black);
  color: var(--antique-white);
}

.example-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* navigation styles */

.example-nav__list {
  display: flex;
  gap: var(--space-15);
}

.example-nav__link {
  text-decoration: none;
  color: var(--antique-white);
}

/* section styles */

.example-section {
  padding: var(--space-3) var(--space-15);
  background-color: var(--antique-white);
}

.example-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-3);
  align-items: center;
}

.example-section__image {
  mix-blend-mode: darken;
}

.example-section__content {
  display: grid;
  gap: var(--space-15);
}
