html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.menu {
  font-size: 2rem;
  background-color: lightblue;
}

/* don't do this, use flexbox instead */

.menu__item {
  display: inline;
  padding: 1rem;
  background-color: palegreen;
}