html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --charcoal: #233d4dff;
  --pumpkin: #fe7f2dff;
  --sunglow: #fcca46ff;
  --olivine: #a1c181ff;
  --polished-pine: #619b8aff;
}

.one {
  background: var(--pumpkin);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.two {
  background: var(--charcoal);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: 3;
}

.three {
  background: var(--sunglow);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(200%, 0);
  }
}


.box {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem
}