html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --charcoal: #233d4dff;
  --pumpkin: #fe7f2dff;
  --sunglow: #fcca46ff;
  --olivine: #a1c181ff;
  --polished-pine: #619b8aff;
}

html,
body {
  height: 100%;
}

.box {
  background-color: var(--pumpkin);
  width: 20rem;
  height: 20rem;
  /* transform: translate(10rem, 10rem); */
  translate: 10rem 10rem;
}