p {
  color: #233D4D;
  background-color: #FCCA46;
  font-size: 2rem;

  /* notice child elements don't inherit the following */
  padding: 3rem;
  border: solid .4rem #A1C181;
}


span {
  /* color: #FE7F2D; /* can be overwritten */
  font-weight: bold;
}
