html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .container  {
  height: 100%;
}

.container {
  display:grid;
  
  grid-template-columns: 4rem 5rem auto 5rem 4rem;
  grid-template-rows: 25% 10rem auto;
  /*grid-template: 25% 10rem auto / 4rem 5rem auto 5rem 4rem;*/
  background-color: #FCCA46;
}

.child {
  background-color: #233D4D;
  margin: .25rem;
}