html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
}

:root {
  --charcoal: #233d4dff;
  --pumpkin: #fe7f2dff;
  --sunglow: #fcca46ff;
  --olivine: #a1c181ff;
  --polished-pine: #619b8aff;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

div:nth-child(1){
  background-image: conic-gradient(var(--sunglow), var(--pumpkin));
}

div:nth-child(2){
  background-image: conic-gradient(red, yellow, green, blue, purple, red);
}

div:nth-child(3){
  background-image: conic-gradient(var(--charcoal), var(--charcoal) 10%,  var(--pumpkin) 0,  var(--pumpkin) 30%, var(--sunglow) 0, var(--sunglow) 35%, var(--olivine) 0, var(--olivine) 66%, var(--polished-pine) 0);
}

div:nth-child(4){
  background-image: conic-gradient(var(--pumpkin) .5turn, var(--sunglow) 0);
}

div:nth-child(5){
  background-image: conic-gradient(var(--charcoal) .25turn, var(--sunglow) 0, var(--sunglow) .5turn, var(--charcoal) .5turn, var(--charcoal) .75turn, var(--sunglow) 0);
}

div:nth-child(6){
  background-image: repeating-conic-gradient(var(--sunglow), var(--pumpkin), var(--sunglow) 20%);
}





