:root {
    /* variables here */
}

/* Set the box-sizing property for all elements */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Basic default styling  */

body {
    font-family: sans-serif;
    line-height: 1.5;
    /* Set the default text color */
    color: #333;
    /* Optional: add a background color that fills the whole viewport */
    background-color: #333;
}

/* fluid images */

img {
    max-width: 100%;
    height: auto;
    /* Optional: make them block to avoid extra space */
    display: block;
}

/* Default typography styling, add more styling like font-family here */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

/* Container class to center all elements that are inside in the middle */

.container {
    /* Make this value as big as you want */
    max-width: 75rem;
    /* Center the container */
    margin: 0 auto;
}

/* Demo example classes */

.header {
    background-color: aliceblue;
    padding: 1.5rem;
    position: sticky;
    inset: 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav__list {
    display: flex;
    column-gap: 1.5rem;
    flex-wrap: wrap;
}

.nav__link {
    text-decoration: none;
    color: cornflowerblue;
}

.nav__link:hover {
    color: darkblue;
}

.main__header {
    padding: 12rem 1.5rem;
    background-color: aliceblue;
}

.main__section {
    padding: 3rem 1.5rem;
    background-color: white;
}

.feature {
    margin-top: 3rem;
}

.footer {
    padding: 1.5rem;
    color: white
}

.cookie {
    position: fixed;
    inset: auto 0 0 0;
    background-color: honeydew;
    padding: 1.5rem;
}