html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .container  {
  height: 100%;
}

.container {
  display: grid;
  place-items: center;

  background-color: #FCCA46;
}

.child {
  color: white;
  padding: 2rem;
  background-color: #233D4D;
}