html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

html {
  font-size: 125%;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0 1.5rem;
}

h1,
p {
  margin: 1.5rem 0;
}

/*
  Let the content dictate the width of the element
*/

.cta {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: dodgerblue;
  border: 2px solid darkblue;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}