html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --charcoal: #233d4dcc;
  --pumpkin: #fe7f2dcc;
  --sunglow: #fcca46cc;
  --olivine: #a1c181cc;
  --polished-pine: #619b8acc;
}

body {
  font-family: monospace;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
}

.one,
.two,
.three,
.four {
  display: grid;
  place-items: center;
  padding: 3rem;
}

.one {
  background-color: var(--charcoal);
  /* has no effect: */
  top: 2rem;
  left: 2rem;
}

.two {
  background-color: var(--pumpkin);
  position: relative;
  /* has effect: */
  top: 2rem;
  left: 2rem;
  z-index: 1;
}

.three {
  background-color: var(--sunglow);
  position: absolute;
  /* has effect: */
  top: 4rem;
  left: 4rem;
}

.four {
  background-color: var(--olivine);
  /* has no effect: */
  z-index: 2;
}