html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,body,.post{
  height: 100%;
}

.post__title{
  background-color: lightgray;
}

.post__content{
  background-color: #233D4D;
  /* adjust width to see the effect of the different values */
  /*width: 60rem;*/
  height: 100%;
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.content__part{
  width: 25rem;
  background-color: #FCCA46;
  margin: 1rem;
  padding: 2rem;
}