html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --charcoal: #233d4dff;
  --pumpkin: #fe7f2dff;
  --sunglow: #fcca46ff;
  --olivine: #a1c181ff;
  --polished-pine: #619b8aff;
}

.one {
  background: var(--pumpkin);
  animation-name: move;
  animation-duration: 3s;
  animation-delay: 0s;
}

.two {
  background: var(--charcoal);
  animation-name: move;
  /* s or ms? doesn't matter */
  animation-duration: 3000ms;
  animation-delay: 500ms;
}

.three {
  background: var(--sunglow);
  animation-name: move;
  animation-duration: 3s;
  animation-delay: 2100ms;
}

@keyframes move {
  from {
    translate: 0  0;
  }
  to {
    translate: 200% 0;
  }
}


.box {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem
}